body {
  color: white;
  margin: 0;
  background: linear-gradient(to top, #283e51, #0a2342);
  font-family: "Roboto", sans-serif;
  height: 140vh;
}
#background-image {
  background-position: top;
  background-image: url(/img/clear-day.svg);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
}

form {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  max-width: 220px;
  margin: 0 auto;
}

input,
button {
  border-radius: inherit;
  height: 36px;
  border: 1px solid transparent;
  background: transparent;
}

input {
  text-indent: 5px;
}

input:focus {
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input:focus-visible {
  outline: 1px solid transparent;
}

input[type="text"] {
  color: white;
}

button {
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: white;
}

main {
  margin-top: 48px;
  text-transform: capitalize;
}

.blend-font {
  mix-blend-mode: difference;
}

footer {
  background: rgba(0, 0, 0, 0.15);
  background-size: 100%;
  font-size: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.five-day-forecast {
  margin-top: 5px;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.15);
  background-size: 100%;
}

h1 {
  font-size: 48px;
}

h1,
h2,
li {
  text-align: center;
}

h2 {
  margin-top: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.logo {
  padding-left: 10px;
}

.current-time {
  padding-right: 10px;
}

.weather {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid rgba(0, 0, 0, 0.15);
  border-radius: 200px;
  padding: 80px;
  max-width: 200px;
}
.temperature {
  font-size: 148px;
  text-indent: 10px;
  color: black;
}

.five-day-forecast {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
  scroll-snap-align: start;
}

.five-day-forecast ul:nth-child(1) {
  padding-left: 10px;
}

.forecast-icon {
  width: 75px;
  padding-top: 10px;
}

.main-font {
  font-family: "Bree Serif", serif;
}

@media (min-width: 500px) {
  body {
    display: block;
    margin: 0 auto;
    position: relative;
    background-size: 3000px;
    height: 100vh;
  }

  .card {
    flex: 0 0 20%;
    font-size: 20px;
  }

  .five-day-forecast {
    overflow-x: visible;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 47%;
    background: none;
  }

  #background-image {
    background-size: 800px;
    background-position: top 50px;
  }

  .weather {
    padding: 200px;
    border-radius: 400px;
  }
}
